{% extends 'base.html.twig' %}

{% block title %}Pet{% endblock %}

{% block body %}
    <h1>Pet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pet.id }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ pet.espece }}</td>
            </tr>
            <tr>
                <th>Build</th>
                <td>{{ pet.build }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ pet.sex ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pet_index') }}">back to list</a>

    <a href="{{ path('pet_edit', {'id': pet.id}) }}">edit</a>

    {{ include('pet/_delete_form.html.twig') }}
{% endblock %}
