<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">

                {{ clinic.name }}

        </h5>
        <p class="card-text">{{ clinic.streetnumber }} {{ clinic.indicestreetnumber }} {{ clinic.street }}</p>
        <p class="card-text"> {{ clinic.complementary }}</p>
        <p class="card-text">{{ clinic.zipcode }} {{ clinic.city }} </p>
        <p class="card-text">Tél : {{ clinic.phone }} </p>
        <p class="card-text"> Email : {{ clinic.email }}</p>
        {% for dispense in dispenses %}
        <p class="card-text">{{ clinic.dispense }}</p>
        {% endfor %}

    </div>
</div>
