<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            {{ dispense.veterinaryclinic.name }}
        </h5>
        <p class="card-text">{{ dispense.veterinaryclinic.streetnumber }} {{ dispense.veterinaryclinic.indicestreetnumber }} {{ dispense.veterinaryclinic.street }}</p>
        <p class="card-text"> {{ dispense.veterinaryclinic.complementary }}</p>
        <p class="card-text">{{ dispense.veterinaryclinic.zipcode }} {{ dispense.veterinaryclinic.city }} </p>
        <p class="card-text">Tél : {{ dispense.veterinaryclinic.phone }} </p>
        <p class="card-text"> Email : {{ dispense.veterinaryclinic.email }}</p>
        <p class="card-text">Tarif : {{ dispense.price }} €</p>

    </div>
</div>
