{% extends 'base.html.twig' %}

{% block title %}Dispense index{% endblock %}

{% block body %}
    <h1>Dispense index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Quality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dispense in dispenses %}
            <tr>
                <td>{{ dispense.id }}</td>
                <td>{{ dispense.price }}</td>
                <td>{{ dispense.quality }}</td>
                <td>
                    <a href="{{ path('dispense_show', {'id': dispense.id}) }}">show</a>
                    <a href="{{ path('dispense_edit', {'id': dispense.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dispense_new') }}">Create new</a>
{% endblock %}
